<div class="containter">
	<div class="row">
	    <div class="col-md-12">
            <div class="jumbotron" style="">
                <h1>Hello testSite!</h1>
            </div>
        </div>
	</div>
	
	<div class="row">
	    <div class="col-md-6 well">
            <button ng-click="vm.totals.push(0)">Add</button>
        </div>
	    <div class="col-md-6 well">hello</div>
	</div>
	
	<div class="row">
	    <div class="col-md-3 well">
            <ul>
                <li ng-repeat="items in vm.awesomeThings" style="list-style:none">
                    <i class="glyphicon glyphicon-chevron-right"></i> {{items}}
                </li>
	        </ul>
        </div>
	    <div class="col-md-3 well">hello</div>
	    <div class="col-md-3 well">hello</div>
	    <div class="col-md-3 well">hello</div>
	</div>
	
	<p>This is the testSite view.</p>
	
	
	<my-directive></my-directive>
	
	<button ng-click="vm.openDialog()">Open Dialog</button>
</div>	